/* 메인슬라이드 */
.sliderComponents {
  position: relative;
}
.sliderImgs {
  width:100%;
  height: 100vh;
  max-height:969px;
  position: relative;
}
.sliderImgs img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.sliderImgs > .customContainer {
  position: relative;
  width: 100%;
  height: 100%;
}
.slideContents {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.slideAlignleft {
  left: 0;
  text-align: left;
}
.slideAlignright {
  right: 0;
  text-align: right;
}
.sliderTitle {
  font-size: 2.2rem;
  font-weight: 600;
}
.sliderText {
  margin:20px auto;
  font-size: 1.3rem;
  width: 70%;
  word-break: keep-all;
}
.slideAlignleft .sliderText {
  margin-left: 0;
}
.slideAlignright .sliderText {
  margin-right: 0;
}
.sliderLink {

}
.sliderComponents .slick-dots {
  bottom: 30px;
}
.sliderComponents .slick-dots li button:before {
  font-size: 12px;
  transition: 0.5s;
}
.sliderComponents .slick-dots li.slick-active button:before {
  color:#ff2f92;
}
.sliderComponents .slick-dots li button:before {
  color:#fff;
}
.sliderCounter {
  position: absolute;
  bottom: 100px;
  right: 100px;
  transition: 0.5s;
  font-size: 20px;
  color:#fff;
}
/* work */
#indexWork {
  padding-bottom: 220px;
  padding-top: 90px;
}
.indexWorkList {
  margin-top: 30px;
}
#indexWork .customContainer {
  max-width: 1615px;
}
#indexWorkTitle {
  text-align: left;
  color: #232f61;
  font-size: 45px;
  width: calc(100% - 15px);
  margin: 0 auto;
}
.leftModel .indexWorkItems:first-child,
.rightModel .indexWorkItems:first-child {
  width: calc(50% - 15px);
  height: calc(440px + 15px);
  margin-left:7.5px;
  margin-right:7.5px;
  margin-bottom: 15px;
}
.leftModel .indexWorkItems {
  float:left;
  width: calc(25% - 15px);
  height:220px;
  margin-left: 7.5px;
  margin-right:7.5px;
  margin-bottom: 15px;
}
.rightModel .indexWorkItems {
  float:right;
  width:calc(25% - 15px);
  height:220px;
  margin-left: 7.5px;
  margin-right:7.5px;
  margin-bottom: 15px;
}
.indexWorkItems {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.indexWorkItems a {
  display: block;
  width: 100%;
  height: 100%;
  color:#fff;
  text-decoration:none;
}
.indexWorkItems a:hover {
  color:#fff;
  text-decoration:none;
}
.LinkTitleWrapper {
  padding:30px;
  opacity:0;
  transition: 0.5s;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.5)
}
.indexWorkItems a:hover .LinkTitleWrapper {
  opacity:1;
}
.LinkTitleWrapper > h2 {
  font-size: 26px;
  margin-bottom: 10px;
  text-align: left;
}
/* contact */
#indexContact {
  background-image: url(../img/index_contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}
#indexContact::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  background: rgba(0,0,0,0.5);
}
#indexContact > .customContainer {
  position: relative;
  padding: 300px 0 140px 0;
  text-align: left;
  z-index: 1;
}
#contactTitle {
  position: absolute;
  left: 0;
  top: -127px;
}
#contactTitle h1 {
  color: #ff2f92;
  font-size: 12.5rem;
  position: relative;
  left: -11px;
  line-height: 1;
}
#contactTitle p {
  color: #fff;
  font-size: 55px;
  margin-top: 45px;
}
#pointAdd > div {
  float:left;
  width: 50%;
}
.timeZone {
  color: #fff;
  font-size: 72px;
}
.pointName {
  font-size: 30px;
  color: #ff2f92;
  margin-top: 25px;
}
.pointLogo {
  background-image: url(../img/dbrand_logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 128px;
  height: 27px;
  margin-right: 10px;
}
.pointAddress {
  color: #fff;
  font-size: 18px;
  margin-top: 18px;
  line-height: 20px;
}
.pointTel {
  color: #fff;
  font-size: 18px;
  line-height: 20px;
}
.pointMap {
  margin-top: 23px;
}
.pointMap a {
  color: #fff;
}
.pointMap svg {
  color: #ff2f92;
  margin-right: 7px;
}