/* 메인슬라이드 */
.sliderImgs {
  width:100%;
  height: 100vh;
  max-height:969px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sliderImgs > .customContainer {
  position: relative;
  width: 100%;
  height: 100%;
}
.slideContents {
  color:#fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.sliderTitle {
  font-size: 2.2rem;
  font-weight: 600;
}
.sliderText {
  margin:20px auto;
  font-size: 1.3rem;
}
.sliderLink {

}
.slick-dots {
  bottom: 30px;
}